In [2]:
import pandas as pd

In [3]:
train_df = pd.read_csv("datas/train.csv")
test_df = pd.read_csv("datas/test.csv")

In [4]:
train_df.sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
196,197,0,3,"Mernagh, Mr. Robert",male,NaN,0,0,368703,7.7500,NaN,Q
452,453,0,1,"Foreman, Mr. Benjamin Laventall",male,30.0,0,0,113051,27.7500,C111,C
728,729,0,2,"Bryhl, Mr. Kurt Arnold Gottfrid",male,25.0,1,0,236853,26.0000,NaN,S
430,431,1,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.0,0,0,110564,26.5500,C52,S
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
477,478,0,3,"Braund, Mr. Lewis Richard",male,29.0,1,0,3460,7.0458,NaN,S
606,607,0,3,"Karaic, Mr. Milan",male,30.0,0,0,349246,7.8958,NaN,S
575,576,0,3,"Patchett, Mr. George",male,19.0,0,0,358585,14.5000,NaN,S
534,535,0,3,"Cacic, Miss. Marija",female,30.0,0,0,315084,8.6625,NaN,S
579,580,1,3,"Jussila, Mr. Eiriik",male,32.0,0,0,STON/O 2. 3101286,7.9250,NaN,S

In [12]:
train_df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
640,641,0,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S
220,221,1,3,"Sunderland, Mr. Victor Francis",male,16.0,0,0,SOTON/OQ 392089,8.0500,NaN,S
508,509,0,3,"Olsen, Mr. Henry Margido",male,28.0,0,0,C 4001,22.5250,NaN,S
126,127,0,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,NaN,Q
477,478,0,3,"Braund, Mr. Lewis Richard",male,29.0,1,0,3460,7.0458,NaN,S

In [19]:
df = pd.concat((train_df.loc[:, 'Pclass':'Embarked'], test_df.loc[:, 'Pclass':'Embarked']), ignore_index=True)

In [21]:
df.isnull().sum()

Pclass         0
Name           0
Sex            0
Age          263
SibSp          0
Parch          0
Ticket         0
Fare           1
Cabin       1014
Embarked       2
dtype: int64

In [22]:
df['Age'].fillna(df['Age'].median(), inplace=True)

In [23]:
df['Embarked'].value_counts(dropna=False)

S      914
C      270
Q      123
NaN      2
Name: Embarked, dtype: int64

In [24]:
df['Embarked'].fillna('S', inplace=True)

In [26]:
df['Fare'].describe()
df['Fare'].fillna(df['Fare'].median(), inplace=True)

In [27]:
df['Fare'].describe()

count    1309.000000
mean       33.281086
std        51.741500
min         0.000000
25%         7.895800
50%        14.454200
75%        31.275000
max       512.329200
Name: Fare, dtype: float64

In [31]:
def fare_categorized(x):
    if x <= 7.9:
        return 0
    elif 7.9 < x <= 14.45:
        return 1
    elif 14.45 < x <= 31.28:
        return 2
    else:
        return 3
df['Fare_cat'] = df['Fare']
df['Fare_cat'] = df['Fare_cat'].map(fare_categorized)

In [39]:
import re
df['Cabin'].fillna('U', inplace=True)
df['Cabin'] = df['Cabin'].map(lambda x: re.compile("[a-zA-Z]+").search(x).group(0))

In [40]:
df.isnull().sum()

Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    0
Fare_cat    0
dtype: int64

In [43]:
def age_five(x):
    t = (x // 10) 
    o = 1 if (x % 10) >=5 else 0
    return t * 2 + o
def age_decade(x):
    return x // 10
df['Age_decade'] = df['Age']
df['Age_decade'] = df['Age_decade'].map(age_decade)
df['Age_five'] = df['Age']
df['Age_five'] = df['Age_decade'].map(age_five)

In [51]:
df.drop('Ticket', axis=1, inplace=True)
df.drop('Name', axis=1, inplace=True)

In [53]:
df['Sex'] = df['Sex'].map({'female': 0, 'male': 1})

In [55]:
df['Cabin'].value_counts(dropna=False)

U    1014
C      94
B      65
D      46
E      41
A      22
F      21
G       5
T       1
Name: Cabin, dtype: int64

In [56]:
df['Cabin'] = df['Cabin'].map({'U': 0, 'A':1, 'B': 2, 'C':3, 'D':4, 'E':5, 'F':6, 'G':7, 'T':8})

In [58]:
df['Embarked'].value_counts()

S    916
C    270
Q    123
Name: Embarked, dtype: int64

In [84]:
df['Embarked'] = df['Embarked'].map({'C': 0, 'S': 1, 'Q': 2})

In [85]:
y_train = train_df['Survived']

In [86]:
from sklearn.model_selection import train_test_split
x_train, x_valid, y_train, y_valid = train_test_split(X_train, y_train, test_size=0.1, stratify=y_train, random_state=1234)

In [89]:
from sklearn import metrics
def print_metrics(pred, gt):
    print('Accuracy :{0:0.5f}'.format(metrics.accuracy_score(gt, pred))) 
    print('AUC : {0:0.5f}'.format(metrics.roc_auc_score(gt, pred)))
    print('Precision : {0:0.5f}'.format(metrics.precision_score(gt, pred)))
    print('Recall : {0:0.5f}'.format(metrics.recall_score(gt, pred)))
    print('F1 : {0:0.5f}'.format(metrics.f1_score(gt, pred)))

In [94]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(max_depth=12, random_state=1234)
dt.fit(x_train,y_train)

valid_pred = dt.predict(x_valid)
print_metrics(valid_pred, y_valid)
dt_pred = dt.predict(X_test)

Accuracy :0.84444
AUC : 0.83117
Precision : 0.81818
Recall : 0.77143
F1 : 0.79412

In [96]:
def save_submission(pred, name):
    save = pd.DataFrame({"PassengerId": test_df['PassengerId'],
                   "Survived": pred.astype(int)})
    save.to_csv(f"outputs/submission_{name}.csv", index=False)
save_submission(dt_pred, 'dt')

In [107]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=50,
                            max_depth=5,
                            max_samples=0.9,
                            random_state=1234)
rf.fit(x_train, y_train)
rf_val_pred = rf.predict(x_valid)
print_metrics(rf_val_pred, y_valid)

Accuracy :0.86667
AUC : 0.84935
Precision : 0.87097
Recall : 0.77143
F1 : 0.81818

In [110]:
rf_pred = rf.predict(X_test)
save_submission(rf_pred, 'rf')

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
gbc = GradientBoostingClassifier(